*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

.header-bot__contacts, .header-bot__links-wrapper, .header-top__contacts, .header-top__lang-wrapper, .header-top__left {
  border-radius: 100px;
  background-color: #FCFCFC;
  padding: 8px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #101010;
  overflow-x: hidden;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

.top {
  padding-bottom: 104px;
  padding-top: 16px;
  border-radius: 0px 0px 64px 64px;
  background: var(--Main-Bg-Liner, linear-gradient(153deg, #1C274A 0%, #040711 100%));
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.top-decor-img {
  position: absolute;
  z-index: 0;
}
.top-decor-img1 {
  top: -6px;
  left: 0;
}
.top-decor-img2 {
  right: 0;
  top: 104px;
}
.top-decor-img3 {
  right: 0;
  top: 395px;
}
.top-decor-img4 {
  left: 0px;
  top: 1000px;
}
.top-decor-img5 {
  left: 63.82px;
  top: 1568px;
}
.top-decor-img6 {
  right: 0px;
  top: 1568px;
}

.header {
  position: relative;
  z-index: 2;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.header-top__left {
  padding-right: 32px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-width: 850px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-top__left .logo {
  display: block;
  max-width: 40px;
}
.header-top__left .logo img {
  display: block;
  width: 100%;
}
.header-top__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header-top__nav-item a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  opacity: 0.3;
  font-family: "Manrope", sans-serif;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header-top__nav-item a:hover {
  color: #234EE4;
  opacity: 1;
}
.header-top .link-active {
  color: #234EE4;
  opacity: 1;
}
.header-top__lang-wrapper {
  max-width: 94px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-top__lang {
  border-radius: 50px;
  background-color: #D5E2FC;
  padding: 8px 12px;
  position: relative;
}
.header-top__lang-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-top__lang-head svg {
  margin-bottom: 2px;
}
.header-top__lang-head span {
  margin-left: 6px;
  margin-right: 4px;
}
.header-top__contacts {
  max-width: 258px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-top__contacts a {
  border-radius: 50px;
  padding: 8px 12px;
  background-color: #D5E2FC;
}
.header-top__mail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__phone {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header-top__phone span {
  font-weight: 700;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.header-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 58px;
}
.header-bot__links-wrapper {
  padding: 0 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 780px;
}
.header-bot__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.header-bot .links-item {
  position: relative;
  padding: 15px 0;
}
.header-bot .links-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}
.header-bot .links-item__head svg {
  margin-bottom: 2px;
}
.header-bot .links-item__drop-links {
  position: absolute;
  left: 0;
  top: 57px;
  display: none;
  z-index: 1;
  background-color: #FCFCFC;
  width: 200px;
}
.header-bot .links-item__drop-links a {
  display: block;
  padding: 10px 5px;
  line-height: 1;
}
.header-bot .links-item__drop-links a:hover {
  background-color: #D5E2FC;
}
.header-bot .links-item:hover .links-item__drop-links {
  display: block;
}
.header-bot__contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 421px;
}
.header-bot__btn {
  border-radius: 50px;
  padding: 10px 32px;
  background-color: #D5E2FC;
  font-size: 14px;
  font-weight: 700;
  color: #234EE4;
  font-family: "Manrope", sans-serif;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  white-space: nowrap;
}
.header-bot__btn:hover {
  background-color: #234EE4;
  color: #fff;
}
.header-bot__link {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 32px;
  background-color: #234EE4;
  border: 1px solid #234EE4;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.header-bot__link:hover {
  background-color: #D5E2FC;
  color: #234EE4;
}

.header-content {
  margin-top: 120px;
  position: relative;
  z-index: 1;
}
.header-content__title {
  max-width: 663px;
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  color: #fff;
  line-height: 1;
  margin-bottom: 32px;
}
.header-content__title span {
  display: block;
  line-height: 1;
}
.header-content__title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  gap: 10px;
}
.header-content__title-top span {
  color: #4AD6FF;
}
.header-content__title-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 94px;
  background-color: #4AD6FF;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 32px;
  line-height: 1;
  margin-top: 16px;
  gap: 16px;
}
.header-content__title-bot span {
  margin-bottom: 10px;
}
.header-content__text {
  color: #FCFCFC;
  opacity: 0.8;
  max-width: 550px;
}

.header-benefits {
  margin-top: 88px;
  position: relative;
  z-index: 2;
}
.header-benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 104px;
}
.header-benefits__item {
  color: #FCFCFC;
  font-family: "Manrope", sans-serif;
}
.header-benefits__prop {
  font-size: 20px;
  line-height: 117%;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 6px;
}
.header-benefits__prop span {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.header-benefits__value {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 140%;
  padding-top: 8px;
  position: relative;
}
.header-benefits__value::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(89, 88, 88, 0.5158438375)), color-stop(130%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(89, 88, 88, 0.5158438375) 0%, rgba(255, 255, 255, 0) 130%);
  background: linear-gradient(90deg, rgba(89, 88, 88, 0.5158438375) 0%, rgba(255, 255, 255, 0) 130%);
  content: "";
}

.top-cards {
  margin-top: 120px;
  position: relative;
  z-index: 2;
}
.top-cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-top: 104px;
}
.top-cards__item {
  position: relative;
  max-width: 596px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.top-cards__item--bg {
  position: absolute;
  border-radius: 32px;
  z-index: 1;
  top: -104px;
  bottom: 0;
  left: 0;
  right: 0;
  background: -o-linear-gradient(225deg, #F47616 0%, #D03916 100%);
  background: linear-gradient(225deg, #F47616 0%, #D03916 100%);
}
.top-cards__item:nth-child(2) .top-cards__item--bg {
  background: -o-linear-gradient(225deg, #5CE1A9 0%, #00CE88 51.04%, #008973 100%);
  background: linear-gradient(225deg, #5CE1A9 0%, #00CE88 51.04%, #008973 100%);
}
.top-cards__item-inner {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 32px;
  padding: 40px;
  display: block;
}
.top-cards__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.top-cards__item-text-box {
  max-width: 300px;
}
.top-cards__item-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 104%;
  font-family: "Manrope", sans-serif;
}
.top-cards__item-text {
  font-size: 14px;
  line-height: 140%;
}
.top-cards .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D5E2FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-cards__item:nth-child(1) .top-cards__words {
  max-width: 460px;
}
.top-cards__item:nth-child(2) .top-cards__words {
  max-width: 271px;
}
.top-cards__words-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-cards__words-item {
  border-radius: 50px;
  padding: 10px 24px;
  color: #fff;
  background-color: #F47616;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  white-space: nowrap;
}
.top-cards__words-item--slash {
  padding: 10px 18px;
}

.top-content {
  margin-top: 160px;
  margin-bottom: 240px;
}
.top-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-content__textbox {
  max-width: 673px;
}
.top-content__title {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  margin-bottom: 32px;
}
.top-content__title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.top-content__title-top span {
  color: #6549D4;
}
.top-content__title-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6549D4;
  border-radius: 100px;
  gap: 15px;
  max-height: 74px;
}
.top-content__title-bot span {
  margin-bottom: 3px;
  display: inline-block;
}
.top-content__text {
  color: #FCFCFC;
  opacity: 0.8;
  line-height: 160%;
}
.top-content__link {
  padding: 10px 32px;
  background-color: #234EE4;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  max-height: 42px;
  border-radius: 50px;
  font-family: "Manrope", sans-serif;
}

.services {
  padding: 184px 0 120px;
  border-radius: 0 0 64px 64px;
}
.services__title {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  margin-bottom: 40px;
}
.services__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.services__item {
  border-radius: 32px;
  position: relative;
  padding-top: 104px;
}
.services__item--bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
}
.services__item-inner {
  background-color: #fff;
  padding: 40px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
}
.services__item-title {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%; /* 33.28px */
  margin-bottom: 16px;
}
.services__item-text {
  max-width: 398px;
  font-size: 14px;
  line-height: 140%;
}
.services__link {
  display: block;
  width: 100%;
  border-radius: 50px;
  background-color: #fff;
  padding: 10px 32px;
  color: #234EE4;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.services-one {
  background: #DCDDE0;
  position: relative;
  z-index: 9;
  margin-top: -64px;
}

.services-two {
  background-color: #EDEDED;
  position: relative;
  z-index: 8;
  margin-top: -64px;
}

.cases {
  padding: 184px 0 120px;
  border-radius: 0 0 64px 64px;
  background: -o-linear-gradient(297deg, #1C274A 0%, #040711 100%);
  background: linear-gradient(153deg, #1C274A 0%, #040711 100%);
  position: relative;
  z-index: 7;
  margin-top: -64px;
}
.cases--decor {
  position: absolute;
  right: -88.42px;
  top: -82px;
  z-index: 0;
}
.cases__title {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
}
.cases__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  margin-bottom: 24px;
}
.cases__item {
  position: relative;
  max-width: 394px;
  border-radius: 32px;
  overflow: hidden;
}
.cases__item:nth-child(3) .cases__item--type {
  background-color: #02CC89;
}
.cases__item-img {
  position: relative;
  z-index: 1;
}
.cases__item-img img {
  width: 100%;
  border-radius: 32px 32px 0 0;
  display: block;
}
.cases__item--type {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
  padding: 8px 20px 10px;
  background-color: #F47616;
  font-family: "Manrope", sans-serif;
  line-height: 100%;
  z-index: 3;
}
.cases__item-content {
  padding: 40px;
  background-color: #fff;
  border-radius: 32px;
  position: relative;
  z-index: 2;
  margin-top: -32px;
}
.cases__item-content p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.cases__link {
  display: block;
  width: 100%;
  border-radius: 50px;
  color: #FCFCFC;
  padding: 10px 32px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  background: rgba(252, 252, 252, 0.2);
}

.media {
  padding: 184px 0 180px;
  position: relative;
  z-index: 6;
  margin-top: -64px;
  background-color: #6549D4;
}
.media__title {
  font-family: "Manrope", sans-serif;
  margin-bottom: 20px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  color: #fff;
}
.media__tabs {
  width: 475px;
  border-radius: 50px;
  background: rgba(252, 252, 252, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 20px;
  margin-bottom: 40px;
}
.media__tabs button {
  padding: 2px 12px;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
.media__tabs-btn--active {
  opacity: 1 !important;
}
.media__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  margin-bottom: 24px;
}
.media__tabs-contents {
  position: relative;
  min-height: 430px;
}
.media__tabs-content {
  visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.media__tabs-content--active {
  visibility: visible;
  opacity: 1;
}
.media__link {
  display: block;
  width: 100%;
  border-radius: 50px;
  color: #FCFCFC;
  padding: 10px 32px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  background: rgba(252, 252, 252, 0.2);
}

.promo {
  border-radius: 64px;
  background: -o-linear-gradient(297deg, #1C274A 0%, #040711 100%);
  background: linear-gradient(153deg, #1C274A 0%, #040711 100%);
  position: relative;
  margin-top: -64px;
  z-index: 7;
  padding: 180px 0;
}
.promo__inner {
  position: relative;
  z-index: 4;
}
.promo__title {
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 100%;
  color: #FCFCFC;
  margin-bottom: 32px;
  max-width: 645px;
}
.promo__title span {
  color: #02CC89;
}
.promo__text {
  max-width: 560px;
  opacity: 0.8;
  font-size: 16px;
  color: #FCFCFC;
}
.promo__controls {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__link {
  border-radius: 50px;
  background-color: #234EE4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  padding: 10px 32px;
}
.promo__btn {
  border-radius: 50px;
  background: rgba(252, 252, 252, 0.2);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  padding: 10px 32px;
}
.promo .promo-decor-img1 {
  z-index: 1;
  position: absolute;
  left: -148px;
  top: 10px;
}
.promo .promo-decor-img2 {
  z-index: 1;
  position: absolute;
  right: -95px;
  bottom: 36px;
}
.promo .promo-decor-img3 {
  z-index: 2;
  position: absolute;
  right: -103px;
  bottom: -14.395px;
}

.reviews {
  padding: 184px 0 120px;
  border-radius: 0px 0px 64px 64px;
  background: #EDEDED;
  position: relative;
  z-index: 6;
  margin-top: -64px;
}
.reviews__title {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  color: #101010;
  margin-bottom: 40px;
}
.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 596px;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}
.reviews__item:first-child .reviews__item--type {
  background-color: #02CC89;
}
.reviews__item--type {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  background-color: #F47616;
  padding: 10px 24px 12px;
  line-height: 1;
}
.reviews__content {
  border-radius: 32px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-top: -32px;
  padding: 40px;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.reviews__item-img {
  position: relative;
  z-index: 1;
  max-width: 596px;
}
.reviews__item-img img {
  border-radius: 32px 32px 0 0;
  width: 100%;
  display: block;
}
.reviews__text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 146%;
  max-height: 135px;
  overflow: hidden;
  margin-bottom: 16px;
}
.reviews__info {
  margin-top: auto;
}
.reviews__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #234EE4;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  font-family: "Manrope", sans-serif;
}
.reviews .name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  font-family: "Manrope", sans-serif;
  color: #101010;
  margin-bottom: 4px;
}
.reviews .prof {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  opacity: 0.5;
}
.reviews__link {
  display: block;
  width: 100%;
  border-radius: 50px;
  color: #234EE4;
  padding: 10px 32px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  background-color: #fff;
}

.personal {
  padding: 184px 0 184px;
  background-color: #DCDDE0;
  margin-top: -64px;
  position: relative;
  z-index: 5;
}
.personal__title {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%; /* 48px */
  margin-bottom: 24px;
}
.personal__main-slider-wrapper {
  position: relative;
  margin-bottom: 80px;
}
.personal__main-slider {
  overflow: hidden;
}
.personal__main-slider-item {
  max-width: 395px;
  border-radius: 32px;
  position: relative;
}
.personal .main-slider-item__img-box {
  max-width: 395px;
  border-radius: 33px;
  overflow: hidden;
  position: relative;
}
.personal .main-slider-item__img-box img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
}
.personal .main-slider-item__type-box {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.personal .main-slider-item__content {
  border-radius: 0 0 32px 32px;
  padding: 64px 32px 32px 32px;
  background-color: #FCFCFC;
  position: relative;
  z-index: 1;
  margin-top: -32px;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.personal .main-slider-item__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.personal .main-slider-item__title {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 6px;
}
.personal .main-slider-item__text {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  opacity: 0.5;
}
.personal .phone {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
.personal .mail {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  opacity: 0.5;
}
.personal .main-slider-item__type {
  padding: 8px 12px 10px;
  border-radius: 50px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.personal .green {
  background-color: #02CC89;
}
.personal .orang {
  background-color: #F47616;
}
.personal .personal__main-slider-prev, .personal .personal__main-slider-next {
  position: absolute;
  top: calc(50% - 21px);
  z-index: 2;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #234EE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.personal .personal__main-slider-prev:hover, .personal .personal__main-slider-next:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.personal .personal__main-slider-prev {
  left: -66px;
}
.personal .personal__main-slider-next {
  right: -66px;
}
.personal__subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 104%;
  margin-bottom: 24px;
}
.personal__slider-wrapper {
  position: relative;
}
.personal__slider {
  overflow: hidden;
}
.personal .personal__slider-prev, .personal .personal__slider-next {
  position: absolute;
  top: calc(50% - 21px);
  z-index: 2;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #234EE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.personal .personal__slider-prev:hover, .personal .personal__slider-next:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.personal .personal__slider-prev {
  left: -66px;
}
.personal .personal__slider-next {
  right: -66px;
}

.swiper-button-disabled {
  opacity: 0.3;
}

.section-form {
  padding: 184px 0 184px;
  background-color: #234EE4;
  margin-top: -64px;
  position: relative;
  z-index: 6;
  border-radius: 64px 64px 0 0;
}
.section-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-form__content {
  max-width: 586px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.section-form__title {
  font-family: "Manrope", sans-serif;
  color: #FCFCFC;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 32px;
}
.section-form__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  opacity: 0.8;
  color: #FCFCFC;
  margin-bottom: 80px;
}
.section-form__contacts-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 6px;
}
.section-form__contacts-link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-left: 92px;
  border-radius: 50px;
  background-color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  line-height: 160%;
}
.section-form__contacts-link:nth-child(1) {
  color: #25A4E2;
}
.section-form__contacts-link:nth-child(2) span {
  background: -o-linear-gradient(228deg, #52CD5F 12.06%, #28B43E 100%);
  background: linear-gradient(222deg, #52CD5F 12.06%, #28B43E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-form__contacts-link:nth-child(3) {
  color: #4C75A3;
}
.section-form__contacts-link:nth-child(4) {
  color: #234EE4;
}
.section-form .form {
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 40px;
  padding: 56px 48px;
  background: rgba(252, 252, 252, 0.2);
}
.section-form .form-title {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 104%;
  margin-bottom: 32px;
  color: #FCFCFC;
}
.section-form .form-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.section-form .form-input-box input {
  padding: 16px 24px;
  background: rgba(252, 252, 252, 0.22);
  color: #FCFCFC;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.section-form .form-input-box input::-webkit-input-placeholder {
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.section-form .form-input-box input::-moz-placeholder {
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.section-form .form-input-box input:-ms-input-placeholder {
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.section-form .form-input-box input::-ms-input-placeholder {
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.section-form .form-input-box input::placeholder {
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.section-form .form-input-box input:nth-child(1) {
  border-radius: 10px 10px 0 0;
}
.section-form .form-input-box input:nth-child(3) {
  border-radius: 0 0 10px 10px;
}
.section-form .form-text {
  opacity: 0.8;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #FCFCFC;
  margin-bottom: 16px;
}
.section-form .form-text span {
  color: #4AD6FF;
}
.section-form .form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 50px;
  background-color: #FCFCFC;
  padding: 10px 32px;
  color: #234EE4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 140%;
}

.footer {
  padding: 80px 0;
  border-radius: 64px 64px 0 0;
  margin-top: -64px;
  position: relative;
  z-index: 7;
  background: -o-linear-gradient(297deg, #1C274A 0%, #040711 100%);
  background: linear-gradient(153deg, #1C274A 0%, #040711 100%);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-top__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 240px;
}
.footer-top__item-title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #FCFCFC;
  margin-bottom: 6px;
}
.footer-top__item--text {
  max-width: 210px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #FCFCFC;
  opacity: 0.7;
}
.footer-top__item:last-child {
  text-align: end;
}
.footer-top__item-mail {
  opacity: 0.7;
  color: #FCFCFC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: inline-block;
  margin-bottom: 2px;
}
.footer-top__item-phone {
  display: inline-block;
  color: #FCFCFC;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 25.52px */
}

.footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-mid__column {
  max-width: 240px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer-mid__item-head {
  color: #FCFCFC;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 16px;
}
.footer-mid__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer-mid__item-list a {
  color: #FCFCFC;
  opacity: 0.7;
  font-size: 14px;
  line-height: 140%;
}
.footer-mid__main-link {
  color: #FCFCFC;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 16px;
}
.footer-mid__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 120px;
}
.footer-mid__links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer-mid__links-box a {
  margin-bottom: 0;
}
.footer-mid__column:last-child {
  text-align: end;
}
.footer-mid__column-subtitle {
  color: #FCFCFC;
  opacity: 0.7;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 2px;
}
.footer-mid__contacts-mail {
  color: #FCFCFC;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.footer-mid__contacts-links {
  max-width: 132px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer-mid__contacts-links a {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(252, 252, 252, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}